/ColorProcessor.class
/Main.class
/Picture2.class
/Pixel2.class
/MainTest.class
/Emojifier.class
/Emojifier$Emoji.class
/Emojifier$EmojiTree.class
/Main$ClearListener.class
/Main$LoadListener.class
/Main$EmojiListener.class
/ImageConstructor.class
